@import "../assets/scss/index";
.view-menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 180px;
    height: 100%;
    background: $bgColorDisabled;
    .toggle-menu-view{
        position: relative;
        height: 48px;
        padding-left: 20px;
        background: $bgColorDisabled;
        border-bottom: 1px solid $borderColorTable;
        @include  font-style(16px,$fontColorTitle,48px);
        span{
            position: absolute;
            width: 64px;
            height: 48px;
            right: 0;
            top: 0;
            display: block;
            cursor: pointer;
            text-align: center;
            @include  font-style(16px,$fontColorDisable,48px);
        }
    }
}
.view-menu.hidden-menu{
    width: 64px;
}